@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Jost:wght@300;400;500;600&display=swap');

* {
  font-family: 'Jost', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.price-color {
  color: #C1773A;
}

.price-color:hover {
  color: #A36028;
}
